<div class="container">
    <div class="row mt-4">
        <mat-card>
            <table [dataSource]="dataSource" mat-table>
                <ng-container matColumnDef="vehicle_owner_name">
                    <th *matHeaderCellDef mat-header-cell>
                        Owner Name
                    </th>
                    <td *matCellDef="let element" mat-cell>
                        
                        {{element.vehicle_owner_name}}
                        
                    </td>
                </ng-container>
                <ng-container matColumnDef="vehicle_type">
                    <th *matHeaderCellDef mat-header-cell>
                        Vehicle Type
                    </th>
                    <td *matCellDef="let element" mat-cell>
                        
                        {{element.vehicle_type}}
                        
                    </td>
                </ng-container>
                <ng-container matColumnDef="vehicle_license_number">
                    <th *matHeaderCellDef mat-header-cell>
                        Vehicle License Number
                    </th>
                    <td *matCellDef="let element" mat-cell>
                        
                        {{element.vehicle_license_number}}
                        
                    </td>
                </ng-container>
                <ng-container matColumnDef="car_entry_date_time">
                    <th *matHeaderCellDef mat-header-cell>
                       Car Entry Date Time
                    </th>
                    <td *matCellDef="let element" mat-cell>
                        {{ element.car_entry_date_time }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="car_exit_date_time">
                    <th *matHeaderCellDef mat-header-cell>
                       Car Exit Date Time
                    </th>
                    <td *matCellDef="let element" mat-cell>
                        {{ element.car_exit_date_time }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th *matHeaderCellDef mat-header-cell>
                        Status
                    </th>
                    <td *matCellDef="let element" mat-cell>
                        
                        {{element.status}}
                        
                    </td>
                </ng-container>
                <ng-container matColumnDef="edit">
                    <th *matHeaderCellDef mat-header-cell>
                        Edit
                    </th>
                    <td *matCellDef="let element" mat-cell>
                        <div class="action-buttons">
                            <mat-icon  class="action-buttons"
                                matTooltip="Edit Crop Details">
                                edit_note
                            </mat-icon>
                        </div>
                    </td>
                </ng-container>
                <tbody>
                    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
                </tbody>
            </table>
        </mat-card>
        
    </div>
</div>